# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Lucy\Lusia\UG\Semestr 4\Inteligencja Obliczeniowa\Lab\INF_Ludwika_Malinowska_269245\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
